.cover__mess__list {
  height: 500px;
  overflow: scroll;
}

.test {
  height: 500px;
  overflow: scroll;
}

.current__user__mess {
  position: relative;
  flex-direction: row-reverse !important;
}

#message__input {
  border: none;
  outline: none;
  background-color: inherit;
  width: 100%;
}

.message__button__submit {
  font-size: 23px;
  color: #fd6600;
  transform: rotate(-45deg);
}

.choose__image__message:hover {
  background-color: inherit;
  box-shadow: none;
}

.chat__box__hidden {
  right: -500px;
  visibility: hidden;
  transition: 0.5s ease-in-out;
}
.img__mess__input {
  max-height: 50px;
}

.auto__scroll__to__bottom {
  overflow: hidden;
}

.auto__scroll__to__bottom::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.auto__scroll__to__bottom::-webkit-scrollbar-track {
  background: inherit;
  border-radius: 10px;
}

/* Handle */
.auto__scroll__to__bottom::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
.auto__scroll__to__bottom::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.auto__scroll__to__bottom:hover {
  overflow: overlay;
}
