/* .header__logo {
  min-width: 30% !important;
  max-width: 30% !important;
  min-height: 30% !important;
  max-height: 30% !important;
} */

.header {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  padding: 9px 15px;
  z-index: 5;
}
.header__search__input__icon {
  position: absolute;
  top: 30%;
  left: 10px;
  color: #ced4da;
}

.header__button__pc {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 35px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: inherit;
  border: none;
  outline: none;
  margin-left: 10px;
  color: #fd6600;
}

.header__search__input {
  width: 100%;
  height: 40px;
  padding: 5px 10px 5px 35px;
  background-color: #eee;
  border: none;
  outline: none;
  border-radius: 40px;
  font-size: 12px;
  line-height: 32px;
}

.header__wrapper {
}

.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  outline: none;
  margin-left: 10px;
}

.menu__button {
  border: none;
  outline: none;
  position: relative;
  background-color: inherit;
  width: 27px;
  height: 27px;
  align-items: flex-end;
  margin-left: 15px;
}

.menu__button::before {
  content: "";
  position: absolute;
  top: 14px;
  right: 0;
  background-color: black;
  width: 30px;
  height: 2px;
  border-radius: 1px;
}

.menu__button::after {
  content: "";
  position: absolute;
  top: 25px;
  right: 0;
  background-color: black;
  width: 20px;
  height: 2px;
  border-radius: 1px;
}

.homepage__logo {
  width: 20%;
  height: 30px;
}

.header__button__lg {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  outline: none;
  margin-left: 15px;
  background-color: #f5f5f5;
  color: #adb5bd;
}

.header__button__lg__active {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  outline: none;
  margin-left: 15px;
  background-color: #ffbf94;
  color: #fd6600;
}

.header__button__pc__cog {
  animation: cog 2s linear infinite;
}

.search__form {
  width: 100%;
  height: 70px;
  position: fixed !important;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.48);
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.48);
}

.search__form__off {
  width: 100%;
  height: 70px;
  position: fixed !important;
  transition: 0.3s ease-in-out;
  top: -70px;
  left: 0;
  background-color: #fff;
}

.cover__search__form {
  height: 100%;
}

.button__close__search {
  position: absolute;
  right: 10px;
  top: 20px;
  border: none;
  outline: none;
  background-color: inherit;
  font-size: 20px;
  color: #adb5bd;
}

@keyframes cog {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 900px) {
}
