.created__at {
  height: auto;
  color: #999999;
  transition: 0.3s ease-in-out;
}

.created__at__hidden {
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.cover__current__user__mess {
  display: flex;
  flex-direction: column !important;
  align-items: flex-end;
  margin-right: 10px;
}
.cover__other__user__mess {
  margin-left: 10px;
}
.current__user__mess {
  border-top-right-radius: 0;
}
.image {
  max-width: 250px;
}

.video__mess {
  max-width: 250px;
}

.other__mess {
  margin-right: 10px;
  border-top-left-radius: 0;
}
