.cover__photo {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.button__change__cover__photo:hover {
  background-color: inherit;
  box-shadow: none;
}

.Avatar {
  bottom: -70px !important;
}
